[Unit]
Description=Start a Hadoop checkpoint node
After=iptables.target
Wants=hadoop-namenode.service
ConditionPathIsDirectory=__HADOOP_PID_DIR__
ConditionPathIsReadWrite=__HADOOP_PID_DIR__

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__"
ExecStart=__HADOOP_HOME__/sbin/hadoop-daemon.sh start secondarynamenode
ExecStop=__HADOOP_HOME__/sbin/hadoop-daemon.sh stop secondarynamenode
PIDFile=__HADOOP_PID_DIR__/hadoop-secondarynamenode.pid

[Install]
WantedBy=default.target
