[Unit]
Description=Start the Hadoop namenode
After=network.target

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__ HADOOP_PID_DIR=%t/hadoop"
RuntimeDirectory=hadoop
ExecStart=__HADOOP_HOME__/sbin/hadoop-daemon.sh start namenode
ExecStop=__HADOOP_HOME__/sbin/hadoop-daemon.sh stop namenode
PIDFile=%t/hadoop/hadoop-cluster-namenode.pid
Restart=on-failure

[Install]
WantedBy=default.target
