[Unit]
Description=Start a Hadoop checkpoint node
After=network.target
Wants=hadoop-namenode.service

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__ HADOOP_PID_DIR=%t/hadoop"
RuntimeDirectory=hadoop
ExecStart=__HADOOP_HOME__/sbin/hadoop-daemon.sh start secondarynamenode
ExecStop=__HADOOP_HOME__/sbin/hadoop-daemon.sh stop secondarynamenode
PIDFile=%t/hadoop/hadoop-cluster-secondarynamenode.pid
Restart=on-failure

[Install]
WantedBy=default.target
