[Unit]
Description=Start a Hadoop journalnode
After=network.target
Wants=hadoop-namenode.service
Requires=var-run-hadoop.service

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__"
RuntimeDirectory=hadoop
RuntimeDirectoryMode=0755
ExecStart__HADOOP_HOME__/sbin/hadoop-daemon.sh start journalnode
ExecStop=__HADOOP_HOME__/sbin/hadoop-daemon.sh stop journalnode
PIDFile=%t/hadoop/hadoop-journalnode.pid
Restart=always
StartLimitInterval=1min
StartLimitBurst=2

[Install]
WantedBy=default.target
