[Unit]
Description=Start a Hadoop datanode
After=network.target
ConditionPathIsDirectory=__HADOOP_PID_DIR__
ConditionPathIsReadWrite=__HADOOP_PID_DIR__

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__"
ExecStart=__HADOOP_HOME__/sbin/hadoop-daemon.sh start datanode
ExecStop=__HADOOP_HOME__/sbin/hadoop-daemon.sh stop datanode
PIDFile=__HADOOP_PID_DIR__/hadoop-datanode.pid
Restart=true
StartLimitInterval=1min
StartLimitBurst=2

[Install]
WantedBy=default.target
