[Unit]
Description=Start the Hadoop namenode
After=network.target
Requires=var-run-hadoop.service

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__"
ExecStart=__HADOOP_HOME__/sbin/hadoop-daemon.sh start namenode
ExecStop=__HADOOP_HOME__/sbin/hadoop-daemon.sh stop namenode
PIDFile=__HADOOP_PID_DIR__/hadoop-namenode.pid
Restart=always

[Install]
WantedBy=default.target
