[Unit]
Description=Start a Hadoop checkpoint node
After=iptables.target
Wants=hadoop-namenode.service
Requires=var-run-hadoop.service

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__"
RuntimeDirectory=hadoop
RuntimeDirectoryMode=0755
ExecStart=__HADOOP_HOME__/sbin/hadoop-daemon.sh start secondarynamenode
ExecStop=__HADOOP_HOME__/sbin/hadoop-daemon.sh stop secondarynamenode
PIDFile=%t/hadoop/hadoop-secondarynamenode.pid
Restart=always

[Install]
WantedBy=default.target
