[Unit]
Description=Start the Yarn timeline server
After=network.target
Wants=yarn-resourcemanager.service
ConditionPathIsDirectory=$YARN_PID_DIR
ConditionPathIsReadWrite=$YARN_PID_DIR

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=$HADOOP_CONF_DIR"
ExecStart=$HADOOP_HOME/sbin/yarn-daemon.sh start timelineserver
ExecStop=$HADOOP_HOME/sbin/yarn-daemon.sh stop timelineserver
PIDFile=$YARN_PID_DIR/yarn-timelineserver.pid
Restart=true
StartLimitInterval=1min
StartLimitBurst=2

[Install]
WantedBy=default.target
