[Unit]
Description=Start a Yarn nodemanager
After=network.target
Wants=hadoop-datanode.service
ConditionPathIsDirectory=__YARN_PID_DIR__
ConditionPathIsReadWrite=__YARN_PID_DIR__

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__"
ExecStart=__HADOOP_HOME__/sbin/yarn-daemon.sh start nodemanager
ExecStop=__HADOOP_HOME__/sbin/yarn-daemon.sh stop nodemanager
PIDFile=__YARN_PID_DIR__/yarn-nodemanager.pid
Restart=true
StartLimitInterval=1min
StartLimitBurst=2

[Install]
WantedBy=default.target
