[Unit]
Description=Start the Yarn resourcemanager
After=network.target
Wants=hadoop-namenode.service

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__ YARN_PID_DIR=%t/hadoop"
RuntimeDirectory=hadoop
ExecStart=__HADOOP_HOME__/sbin/yarn-daemon.sh start resourcemanager
ExecStop=__HADOOP_HOME__/sbin/yarn-daemon.sh stop resourcemanager
PIDFile=%t/hadoop/yarn-cluster-resourcemanager.pid
StartLimitInterval=1min
StartLimitBurst=2
Restart=always

[Install]
WantedBy=default.target
