[Unit]
Description=Start the Yarn timeline server
After=network.target
Wants=yarn-resourcemanager.service
Requires=var-run-hadoop.service

[Service]
Type=forking
User=cluster
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__"
RuntimeDirectory=hadoop
RuntimeDirectoryMode=0755
ExecStart=__HADOOP_HOME__/sbin/yarn-daemon.sh start timelineserver
ExecStop=__HADOOP_HOME__/sbin/yarn-daemon.sh stop timelineserver
PIDFile=%t/hadoop/yarn-timelineserver.pid
StartLimitInterval=1min
StartLimitBurst=2
Restart=always

[Install]
WantedBy=default.target
