[Unit]
Description=Start a Yarn nodemanager
After=network.target
Wants=hadoop-datanode.service

[Service]
Type=forking
User=cluster
RuntimeDirectory=hadoop
Environment="HADOOP_CONF_DIR=__HADOOP_CONF_DIR__ YARN_PID_DIR=%t/hadoop"
ExecStart=__HADOOP_HOME__/sbin/yarn-daemon.sh start nodemanager
ExecStop=__HADOOP_HOME__/sbin/yarn-daemon.sh stop nodemanager
PIDFile=%t/hadoop/yarn-cluster-nodemanager.pid
StartLimitInterval=1min
StartLimitBurst=2
Restart=always

[Install]
WantedBy=default.target
