<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer/DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>local.yarn-nodemanager</string>
        <key>UserName</key>
        <string>cluster</string>
        <key>GroupName</key>
        <string>daemon</string>
        <key>EnvironmentVariables</key>
        <dict>
            <key>JAVA</key>
            <string>/usr/bin/java</string>
            <key>HADOOP_CONF_DIR</key>
            <string>/Volumes/cluster/hadoop-current/etc/hadoop</string>
            <key>HADOOP_PREFIX</key>
            <string>/Volumes/cluster/hadoop-current</string>
        </dict>
        <key>Program</key>
        <string>/Volumes/cluster/hadoop-current/bin/yarn</string>
        <key>ProgramArguments</key>
        <array>
            <string>yarn</string>
            <string>nodemanager</string>
        </array>
        <key>ProcessType</key>
        <string>Background</string>
        <key>StandardOutPath</key>
        <string>/var/log/hadoop/nodemanager.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/hadoop/nodemanager.log</string>
        <key>KeepAlive</key>
        <dict>
            <!-- Some nodes occasionally lose their cluster disk -->
            <key>PathState</key>
            <dict>
                <key>/tmp/NO_NODEMANAGER</key>
                <false/>
            </dict>
        </dict>
        <key>ThrottleInterval</key>
        <integer>100</integer>
    </dict>
</plist>
